<div class="center jumbotron">
  <h1>Welcome to Social MicroLoan</h1>

  <h2>
    We're a community of Dreamers, Do-ers, and Linchpins.<br>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
