#loaded_picture {
  border-color: black;
  border: 1px;
  width: 26em;
  height: 18em;
  position: relative;
  cursor: pointer;
}

.load-icon.glyphicon {
  position: absolute;
  top: 0.5%;
  left: 93%;
}

#campaign_picture {
  display: none;
}

#campaign_subtitle {
  height: 11em;
}

.radio-option {
  margin: 10px 0px 10px 0px;
  input {
    width: 2rem;
  }
}

#campaign_description {
  height: 20em;
}

#campaign_goal_amount, #campaign_interest_percent {
  text-align: right;
}

.beside-photo {
  text-align: left;
}

.lend {
  height: 2.6em;
  margin: 1em;
  width: 100%;
  margin-left: 0px;

  &.outside {
    margin-top: -5px;
    margin-bottom: 50px;
  }
}

#show_title {
  margin-bottom: 0;
}

#show_subtitle {
  margin-bottom: 0;
}

#show_name {
  margin-top: 8px;
  text-align: right;
}

.info-row {
  margin-bottom: 0em;
}

#show_subject {
  display: inline-block;
}

#show_title-header {
  text-align: center;
}

.campaign-item-view {
  width: 360px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.16);
  height: 422px;
  display: inline-block;
  margin: 13px;
  overflow: auto;

  .title {
    margin-bottom: 18px;
  }

  .info {
    padding: 13px;
  }

  .image-tag {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
  }

  .user {
    text-align: right;
    margin-top: 10px !important;
  }
}
