#loaded_picture {
  border-color: black;
  border: 1px;
  width: 26em;
  height: 18em;
  position: relative;
  cursor: pointer;
}

.load-icon.glyphicon {
  position: absolute;
  top: 0.5%;
  left: 93%;
}

#campaign_picture {
  display: none;
}

#campaign_subtitle {
  height: 11em;
}

.radio-option {
  margin: 10px 0px 10px 0px;
  input {
    width: 2rem;
  }
}

#campaign_description {
  height: 20em;
}

#campaign_goal_amount, #campaign_interest_percent {
  text-align: right;
}

.beside-photo {
  text-align: left;
}

.lend {
  width: 8em;
  height: 3em;
  margin: 1em;
}

#show_title {
  margin-bottom: 0;
}

#show_subtitle {
  margin-bottom: 0;
}

#show_name {
  margin-top: 8px;
  text-align: right;
}

.info-row {
  margin-bottom: 3em;
}

#show_subject {
  display: inline-block;
}

#show_title-header {
  text-align: center;
}
