@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* universal */

body {
  font-family: 'Nunito', sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: black;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin-left: -3px;
}

#logo:hover {
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.campaigns {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  img {
    height: 100%;
    cursor: pointer;
  }
  .left-pane {
    float: left;
    width: 40%;
    height: 200px;
  }
  .right-pane {
    height: 200px;
  }
}

.campaign-show {
  .campaign-image {
    float: right;
  }

  h3.first {
    margin-top: 0px;
  }

  .panel-success {
    margin-bottom: 0px;
  }
}

.navbar-inverse {
  background-color: white;
  border-width: 0;
  .navbar-nav > li > a {
    color: #adb0b1;
    &:hover {
      color: #FF6E62;
    }
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hidden {
  display: none;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.with-interest, .payback, .bold-me {
  .title {
    font-weight: bold;
  }
}

.bold-me {
  font-weight: bold;
}

.support-field {
  margin-top: 10px;
}

.panel-info {
  margin-bottom: 0 !important;
}

.campaign-description {
  img:not(.emoji) {
    width: 100%;
  }
}

#show_title, #support-title {
  .emoji {
    width: 30px;
    height: 30px;
  }
}

.emoji {
  margin-top: -6px;
}

.expired {
  .emoji {
    margin-top: -3px;
  }
}

.panel-body {
  table {
    background-color: transparent;
    th, td {
      border: 1px solid #ddd;
      padding: 5px;
    }
  }
}

.info-row.row.campaign-show {
  margin-bottom: 30px;
}

.campaign-info {
  .pledged-amount {
    float: left;
  }

  .goal-amount {
    float: right;
  }

  .progress {
    margin-bottom: 0px;
  }

  .goal-scale {
    margin-bottom: 40px;
  }

  .glyphicon {
    top: 2.9px;
    margin-right: 4px;

    &.glyphicon-usd  {
      left: -1.5px;
    }
  }
}

.landing {
  .title-pane {
    margin-top: 123px;
  }

  margin-top: 100px;
  margin-bottom: 150px;

  .site-title {
    margin-bottom: -10px;
    font-family: 'Roboto', sans-serif;
  }

  .site-subtitle {
    letter-spacing: 0.40px;
  }

  .site-title, .site-subtitle {
    text-align: left;
  }
}

.popular-campaigns > h1 {
  text-align: left;
  padding-left: 9px;
}

.scrolling-link {
  cursor: pointer;
}
